<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487676022616-g6j9e5qqp8q9k8rc5cv8ng0g6vlcg0p2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487676022616-g6j9e5qqp8q9k8rc5cv8ng0g6vlcg0p2</string>
	<key>API_KEY</key>
	<string>AIzaSyAfIzPg7GZul8RwbVt_p0-d0-kC8UzROCc</string>
	<key>GCM_SENDER_ID</key>
	<string>487676022616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.StayConnected.StayConnected</string>
	<key>PROJECT_ID</key>
	<string>stayconnected-7f739</string>
	<key>STORAGE_BUCKET</key>
	<string>stayconnected-7f739.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487676022616:ios:f5fe011cfb9ef916afdf2d</string>
</dict>
</plist>